---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";

interface Props {
  break: CollectionEntry<"events">["data"]["schedule"][number];
}

const { break: _break } = Astro.props;

const sponsors = await getEntries(_break.sponsors ?? []);
---

<div
  class="flex w-full flex-col gap-0 rounded-lg bg-white/5 px-6 py-4 backdrop-blur-md"
>
  <p class="font-heading text-base font-medium tracking-wider">
    {_break.name}
  </p>

  {_break.description && <p class="text-sm opacity-60">{_break.description}</p>}
  {
    sponsors.map((sponsor) => (
      <div class="flex flex-col gap-2">
        <p class="text-sm">Sponsored by</p>
        <div class:list="w-40 overflow-hidden rounded-md border-2 border-gray-100">
          <Image
            class="w-full"
            src={sponsor.data.logos.bgWhite}
            alt={sponsor.data.name}
            width={1000}
            height={500}
          />
        </div>
      </div>
    ))
  }
</div>
