---
import { type CollectionEntry, getEntries, getEntry } from "astro:content";
import { IoLanguageSharp } from "react-icons/io5";
import SpeakerForCard from "./SpeakerForCard.astro";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";
import { LuSquarePlay } from "react-icons/lu";
import { FiPlus, FiXCircle } from "react-icons/fi";
import { cn } from "@/lib/utils-client";

interface Props {
  activity: NonNullable<
    NonNullable<CollectionEntry<"events">["data"]["schedule"]>["items"]
  >[number];
  event: CollectionEntry<"events">;
}

const { activity, event } = Astro.props;

const talk = activity.slug ? await getEntry(activity.slug) : undefined;
const hosts = await getEntries(talk?.data.hosts ?? []);
const speakers = (
  await getEntries(talk?.data.speakers.map((speaker) => speaker.id) ?? [])
).map((speaker) => ({
  ...speaker,
  data: {
    ...speaker.data,
    role: talk?.data.speakers.find((s) => s.id.id === speaker.id)?.role,
  },
}));
const people = [...hosts, ...speakers];
const scheduleItem = (event.data.schedule?.items ?? []).find(
  (conference) => conference.slug?.id === talk?.id,
);
console.log("lena", scheduleItem);
---

{
  talk && (
    <a
      href={lunalink(ROUTES.events[":id"].talks[":talkId"].__path, {
        id: event.id,
        talkId: talk.id,
      })}
      class="group flex w-full flex-col gap-4 rounded-lg bg-white/5 p-4 backdrop-blur-md transition hover:bg-white/10 sm:px-6 sm:py-5"
    >
      {scheduleItem?.status === "cancelled" && (
        <div class="h-full w-fit rounded-full bg-gradient-to-r from-destructive to-destructive/80 px-2 py-1 text-destructive-foreground">
          <div class="flex items-center gap-2">
            <FiXCircle className="h-4 w-4" />
            <span class="text-sm font-medium">
              TALK CANCELLED - Speaker Withdrawal
            </span>
          </div>
        </div>
      )}
      {scheduleItem?.status === "replacement" && (
        <div class="h-full w-fit justify-center rounded-full bg-success from-accent px-2 py-1 text-accent-foreground text-white">
          <div class="flex items-center gap-2">
            <FiPlus className="h-4 w-4 text-white" />
            <span class="text-sm font-medium text-white">New Talk</span>
          </div>
        </div>
      )}

      <div class="flex justify-between">
        <p
          class={cn(
            "text-balance font-heading text-base font-medium leading-tight tracking-wider text-white transition group-hover:text-primary",
            scheduleItem?.status === "cancelled" ? "line-through" : "",
          )}
        >
          {talk.data.title}
        </p>
      </div>

      {!!people.length && (
        <div
          class={cn(
            "grid grid-cols-2 gap-3 md:grid-cols-3",
            scheduleItem?.status === "cancelled" ? "grayscale" : "",
          )}
        >
          {speakers.map((speaker) => (
            <SpeakerForCard
              name={speaker.data.name}
              avatar={speaker.data.avatar ?? null}
              role={speaker.data.role ?? ""}
            />
          ))}
        </div>
      )}

      <div class="flex flex-row gap-2">
        <span class="flex w-fit items-center gap-1.5 rounded-full border border-black/60 bg-black/40 px-2 py-0.5 text-2xs font-bold uppercase leading-none opacity-60 transition group-hover:opacity-100">
          <IoLanguageSharp className="text-base" />
          <span>Talk in {talk.data.language}</span>
        </span>
        {talk.data.vod && talk.data.vod.youtubeId && (
          <span class="flex w-fit items-center gap-1.5 rounded-full border border-black/60 bg-black/40 px-2 py-0.5 text-2xs font-bold uppercase leading-none opacity-60 transition group-hover:opacity-100">
            <LuSquarePlay className="text-base" />
            <span>VOD available</span>
          </span>
        )}
      </div>
    </a>
  )
}
