---
import type { CollectionEntry } from "astro:content";

interface Props {
  event: CollectionEntry<"events">;
}
---

<div
  class="flex min-h-32 flex-1 flex-col items-center justify-center gap-2 rounded-lg bg-white/5 p-4"
>
  <p class="text-lg tracking-wider text-white/60">Schedule is coming soon!</p>
</div>
