---
import { Image } from "astro:assets";
import placeholder from "@/assets/images/people-placeholder.jpeg";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  avatar?: ImageMetadata | null;
  role?: string;
}

const { name, avatar, role } = Astro.props;
---

<div class="flex items-center gap-2 sm:gap-3">
  <Image
    class="aspect-square w-10 rounded-sm"
    src={avatar ?? placeholder}
    alt={name}
    width={250}
  />
  <div class="flex flex-col">
    <p
      class="line-clamp-2 font-heading text-xs tracking-wide opacity-70 group-hover:opacity-100 sm:text-sm"
    >
      {name}
    </p>
    {!!role && <p class="text-2xs opacity-50 sm:text-xs">{role}</p>}
  </div>
</div>
