---
import { cn } from "@/lib/utils-client";
import dayjs from "dayjs";

interface Props {
  startTime?: Date | undefined;
  duration?: number | undefined;
  class?: string;
}

const { startTime, duration, class: className } = Astro.props;
---

{
  startTime && (
    <div class={cn("flex gap-1.5", className)}>
      <time class="font-medium" datetime={startTime.toISOString()}>
        {dayjs(startTime).format("hh:mm A")}
      </time>

      {duration && (
        <>
          <span class="opacity-60">·</span>
          <p class="text-[0.9em]">({duration} min)</p>
        </>
      )}
    </div>
  )
}
