---
import { formatTime } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  activity: CollectionEntry<"events">["data"]["schedule"][number];
  class: string;
}

const { activity, class: className } = Astro.props;
---

{
  activity.startTime && (
    <div class:list={["flex flex-row gap-2 text-sm text-gray-300", className]}>
      <time datetime={activity.startTime.toISOString()}>
        {formatTime(activity.startTime)}
      </time>
      <span class="md:hidden">·</span>{" "}
      {activity.duration && <p>{activity.duration} minutes</p>}
      <slot />
    </div>
  )
}
