---
import { cn, formatTime } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  activity: CollectionEntry<"events">["data"]["schedule"][number];
  class?: string;
}

const { activity, class: className } = Astro.props;
---

{
  activity.startTime && (
    <div class={cn("flex gap-1.5", className)}>
      <time class="font-medium" datetime={activity.startTime.toISOString()}>
        {formatTime(activity.startTime)}
      </time>

      {activity.duration && (
        <>
          <span class="opacity-60">·</span>
          <p class="text-[0.9em]">({activity.duration} min)</p>
        </>
      )}
    </div>
  )
}
