---
import { getEventsCollection, getEventsSubpagesCollection } from "@/lib/events";
import RootLayout from "@/layouts/RootLayout.astro";
import { SEO } from "astro-seo";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  const subPages = (
    await Promise.all(
      events.map(
        async (event) => await getEventsSubpagesCollection(event.data),
      ),
    )
  )
    .flat()
    .map((subpage) => ({ slugs: subpage.slug.split("/"), subpage }));

  return subPages.map(({ slugs: [slug, subpageSlug], subpage }) => ({
    params: { slug, subpageSlug },
    props: {
      subpage,
    },
  }));
}

const { subpage } = Astro.props;
const { Content } = await subpage?.render();
---

<RootLayout title={subpage.data.title} description?={subpage.data.description}>
  <SEO slot="seo" />

  <h1>{subpage.data.title}</h1>
  <Content />
</RootLayout>
