---
import TiltedCard from "@/components/TiltedCard";
import EventCard from "@/components/EventCard/index.astro";
import { cn } from "@/lib/utils-client";
import type { EventComputed } from "@/lib/events";

interface Props {
  events: Array<EventComputed>;
  title?: string;
  class?: string;
}

const { events, title, class: className } = Astro.props;
---

<div class={cn("flex w-full flex-col gap-4", className)}>
  {
    !!title && (
      <h2 class="font-heading text-sm font-medium uppercase tracking-widest opacity-60">
        {title}
      </h2>
    )
  }
  <div class="flex flex-col gap-3">
    {
      events.map((event) => (
        <TiltedCard client:visible scaleOnHover={1}>
          <EventCard event={event} />
        </TiltedCard>
      ))
    }
  </div>
</div>
