---
import TiltedCard from "@/components/TiltedCard";
import EventCard from "@/components/EventCard/index.astro";
import { cn } from "@/lib/utils-client";
import type { EventComputed } from "@/lib/events";
import dayjs from "dayjs";

interface Props {
  events: Array<EventComputed>;
  title?: string;
  class?: string;
}

const { events, title, class: className } = Astro.props;

const upcoming = events.filter((item) =>
  dayjs(item.data.date).endOf("day").isAfter(dayjs()),
);
const past = events.filter((item) => dayjs(item.data.date).isBefore(dayjs()));
---

<div class={cn("flex w-full flex-col gap-4", className)}>
  {
    !!title && (
      <h2 class="font-heading text-sm font-medium uppercase tracking-widest opacity-60">
        {title}
      </h2>
    )
  }
  <div class="flex flex-col gap-3">
    {
      upcoming.map((event) => (
        <TiltedCard client:visible scaleOnHover={1}>
          <EventCard event={event} />
        </TiltedCard>
      ))
    }
    <slot />
    {
      past.map((event) => (
        <TiltedCard client:visible scaleOnHover={1}>
          <EventCard event={event} />
        </TiltedCard>
      ))
    }
  </div>
</div>
