---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import { cn } from "@/lib/utils-client";

type Props = {
  eventId: CollectionEntry<"events">["id"];
  slotName: CollectionEntry<"eventsBlocks">["data"]["slot"];
  className?: string;
};

const { className = "", eventId, slotName } = Astro.props;

const eventBlocksData = (
  await Promise.all(
    (
      await getCollection("eventsBlocks", (block) => {
        return block.id.startsWith(eventId) && block.data.slot === slotName;
      })
    ).map(async (entry) => {
      const { Content } = await render(entry);
      return { ...entry, Content };
    }),
  )
).sort((a, b) => a.data.order - b.data.order);

const showLocalHelpers = import.meta.env.DEV;
---

<>
  {
    showLocalHelpers && (
      <div class="relative z-0 overflow-x-hidden text-center text-xs">
        <div class="absolute left-0 right-0 top-2 border border-dashed border-gray-500" />

        <div class="group relative flex flex-col items-center">
          <code class="relative z-10 w-fit bg-primary-foreground p-1">
            {slotName}
          </code>
          <div class="absolute top-6 hidden w-[10rem] bg-primary-foreground text-2xs group-hover:block">
            Use this key for custom blocks
          </div>
        </div>
      </div>
    )
  }
  {
    eventBlocksData.length > 0 && (
      <div class={cn("flex flex-col gap-24 py-24", className)}>
        {eventBlocksData.map((block) => {
          return <block.Content />;
        })}
      </div>
    )
  }
</>
