---
import BrandingLayout from "@/layouts/BrandingLayout.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const components = await getCollection("components");

  return components.map((component) => ({
    params: { slug: component.slug },
    props: component,
  }));
};

const { data, render } = Astro.props;
const { Content } = await render();
---

<BrandingLayout name={data.name}>
  <div class="prose prose-invert prose-h1:mt-14 prose-h1:text-lg">
    <Content />
  </div>
</BrandingLayout>
