---
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="mx-auto w-full max-w-screen-sm px-4">
    <MainPageTitle
      title="Community members"
      subtitle="Discover all people involved in the community"
    />
  </div>
</MainLayout>
