---
import { InputField } from "@/components/Input";
import { Button } from "@/components/ui/button";
---

<form class="flex items-end gap-2">
  <InputField
    placeholder="email@email.fr"
    label="Keep in touch"
    className="border border-neutral-700"
  />
  <Button type="submit" variant="secondary">Subscribe</Button>
</form>
