---
import { getEventWithComputed } from "@/lib/events";
import { Image } from "astro:assets";
import SpeakerPlaceholder from "@/assets/images/people-placeholder.jpeg";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";

interface Props {
  eventId: string;
}

const { eventId } = Astro.props;
const event = await getEventWithComputed(eventId);
const speakers = event.data._computed.speakers;
---

<section class="mx-auto max-w-screen-lg px-6 py-8 md:py-12">
  <h2
    class="mb-6 font-heading text-xl font-bold uppercase leading-tight text-primary md:text-2xl"
  >
    Speakers
  </h2>
  <div class="grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4 md:grid-cols-6">
    {
      speakers.map((speaker) => (
        <a
          href={lunalink(ROUTES.people[":id"].__path, { id: speaker.id })}
          class="group flex flex-col items-center gap-2"
        >
          <div class="aspect-square w-full overflow-hidden rounded-lg">
            <Image
              src={speaker.data.avatar ?? SpeakerPlaceholder}
              alt={speaker.data.name}
              width={160}
              height={160}
              class="h-full w-full object-cover"
            />
          </div>
          <p class="text-center font-heading text-sm font-medium tracking-wide transition group-hover:text-primary">
            {speaker.data.name}
          </p>
        </a>
      ))
    }
  </div>
</section>
