---
import { getEntry, getEntries } from "astro:content";
import SponsorsGrid from "@/components/Sponsors/index.astro";

interface Props {
  eventId: string;
}

const { eventId } = Astro.props;
const event = await getEntry("events", eventId);
const sponsors = await getEntries(
  (event?.data.sponsors ?? []).map((s) => s.slug),
);
---

{
  event && sponsors.length > 0 && (
    <section class="mx-auto max-w-screen-lg px-6 py-8 md:py-12">
      <h2 class="mb-8 font-heading text-xl font-bold uppercase leading-tight text-primary md:text-2xl">
        Our sponsors
      </h2>
      <SponsorsGrid event={event} sponsors={sponsors} />
    </section>
  )
}
