---
import { Image } from "astro:assets";
import { render } from "astro:content";
import { type CollectionEntry, getEntry } from "astro:content";

interface Props {
  workshopSlug: NonNullable<
    NonNullable<CollectionEntry<"forKidsEvent">["data"]["workshops"]>
  >[number];
}

const { workshopSlug } = Astro.props;

const workshop = workshopSlug
  ? await getEntry("forKidsWorkshop", workshopSlug.id)
  : undefined;

if (!workshop) {
  return;
}

const { Content } = await render(workshop);
---

{
  workshop && (
    <div class="flex w-full gap-4 rounded-lg bg-white/5 p-4 backdrop-blur-md transition hover:bg-white/10 sm:px-6 sm:py-5">
      <Image
        src={workshop.data.image.media}
        alt={workshop.data.image.alt || "alt"}
        class="w-[10rem]"
      />
      <div class="flex flex-col gap-2">
        <p class="text-balance font-heading text-lg font-medium leading-tight tracking-wider text-white transition group-hover:text-primary">
          {workshop.data.title}
        </p>
        <p class="text-sm">
          De {workshop.data.ageRange.from} ans - {workshop.data.ageRange.to} ans
        </p>
        <Content />
      </div>
    </div>
  )
}
