---
import ComingSoon from "./ComingSoon.astro";
import type { CollectionEntry } from "astro:content";
import TiltedCard from "@/components/TiltedCard";
import CardWorkshop from "./CardWorkshop.astro";

interface Props {
  forKidsEvent: CollectionEntry<"forKidsEvent">;
}

const { forKidsEvent } = Astro.props;
---

<div class="flex flex-col gap-6">
  {
    !forKidsEvent.data.workshops ? (
      <ComingSoon />
    ) : (
      <div class="flex flex-col">
        {forKidsEvent.data.workshops.map((workshop) => {
          return (
            <div class="group flex gap-3">
              <div class="flex w-full flex-col gap-2 pb-6">
                <TiltedCard client:visible>
                  <CardWorkshop workshopSlug={workshop} />
                </TiltedCard>
              </div>
            </div>
          );
        })}
      </div>
    )
  }
</div>
