---
import EventSubPageLayout from "@/layouts/EventSubPageLayout.astro";
import { getEventsCollection, getEventSubPagesCollection } from "@/lib/events";
import { render } from "astro:content";
import { BackButton } from "@/components/BackButton";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  const subPages = (
    await Promise.all(
      events.map(async (event) => {
        const subpages = await getEventSubPagesCollection(event);
        return subpages.map((s) => ({ ...s, __event: event }));
      }),
    )
  )
    .flat()
    .map((subpage) => ({ slugs: subpage.id.split("/"), subpage }));

  return subPages.map(
    ({
      slugs: [id, _, subpageId],
      subpage: { __event: event, ...subpage },
    }) => ({
      params: { id, subpageId },
      props: {
        subpage,
        event,
      },
    }),
  );
}

const { subpage, event } = Astro.props;
const { Content } = await render(subpage);
---

<EventSubPageLayout
  title={subpage.data.title}
  description?={subpage.data.description}
  event={event}
>
  <div class="mx-auto p-4 md:p-8">
    <BackButton href={`/events/${event.id}`} client:load />
    <div
      class="prose prose-sm prose-invert md:prose-base prose-headings:scroll-m-10 prose-headings:font-heading prose-h1:mt-6 prose-h3:flex prose-h3:items-center prose-h3:gap-2 prose-h3:font-bold prose-h3:text-white"
    >
      <Content />
    </div>
  </div>
</EventSubPageLayout>
