@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 100%;

    --primary: 65 100% 53%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --for-kids-primary: 273, 100%, 54%;
    --for-kids-primary-foreground: 273, 100%, 91%;

    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --warning: 45 84.2% 60.2%;
    --warning-foreground: 45 0% 98%;

    --border: 0 0% 9%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  html,
  body {
    color-scheme: dark;
  }
}

@layer utilities {
  .forkit-image-mask {
    mask-image: url("/forkit-small.png");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  .bg-background-blur {
    @apply bg-background/60 backdrop-blur-md;
  }

  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .h-nav-safe {
    height: calc(4rem + env(safe-area-inset-bottom));
  }
}

/* Shadcn config */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
 * Shadcn UI Dialog is changing the way body scrollbar is behaving.
 * Using this hack, we avoid some layout shift.
 */
html body[data-scroll-locked] {
  overflow-y: scroll !important;
  margin-right: 0 !important;
}

.maplibregl-popup-content {
  background: transparent !important;
}
