@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 65 100% 53%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 9%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
}

/* Shadcn config */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom config */
@layer base {
  h2 {
    @apply font-heading text-xl text-foreground;
  }
}

.logo-mask {
  mask-image: url(/forkit-small.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
.astrobook-dbh5qm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  max-width: 60rem;
  padding: 2rem;
}
