---
import { getEventsCollection } from "@/lib/events";
import { getEventStaticPaths, getEventAssetsSources } from "./_utils";
import RootLayout from "@/layouts/RootLayout.astro";
import dayjs from "dayjs";
import { Image } from "astro:assets";

export const getStaticPaths = () =>
  import.meta.env.DEV ? getEventStaticPaths() : [];

const props = Astro.props;

const imagesSrc = getEventAssetsSources(props.event);

const allEvents = (await getEventsCollection()).sort((a, b) =>
  dayjs(b.data.date).diff(a.data.date),
);
---

<RootLayout>
  <div class="mx-auto flex w-full max-w-screen-lg gap-8 p-8">
    <div class="flex w-56 flex-col">
      {
        allEvents.map((event) => (
          <a href={`/events/${event.id}/dynamic-images`} class="p-1">
            {event.data.name}
          </a>
        ))
      }
    </div>
    <div class="flex w-full flex-1 flex-col gap-4">
      {
        imagesSrc.map((src) => (
          <a href={src?.replace(/.jpg$/, ".debug")}>
            <Image
              alt=""
              class="w-full max-w-full rounded-md"
              src={src}
              width={9999}
              height={9999}
            />
          </a>
        ))
      }
    </div>
  </div>
</RootLayout>
