---
import type { CollectionEntry } from "astro:content";

interface Props {
  event: CollectionEntry<"events">;
}

const { event } = Astro.props;
---

{
  event.data.status === "cancelled" && (
    <>
      <div class="h-32" />
      <a
        href="https://linktr.ee/forkit.community"
        class="fixed bottom-0 left-0 right-0 z-10 block bg-primary px-4 py-2 text-black"
      >
        <div class="mx-auto flex max-w-screen-lg flex-col justify-center text-center text-sm md:flex-row md:gap-2">
          <strong class="max-md:text-base">Event cancelled</strong>
          <span>
            Follow Fork It! on social media for updates and announcements on our
            future events.
          </span>
        </div>
      </a>
    </>
  )
}
