---
import { Client } from "./Client";
import { cn } from "@/lib/utils-client";
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  className?: string;
  blur?: boolean;
}

const { src, alt, className, blur } = Astro.props;
---

<div
  class={cn(
    "pointer-events-none fixed left-0 right-0 top-0 -z-10 h-screen overflow-hidden ",
    className,
  )}
>
  <div>
    <Client defaultBlur={blur ?? false} client:load>
      <Image
        src={src}
        alt={alt}
        class="absolute size-full bg-white/30 object-cover object-center"
      />
    </Client>
    <div class="absolute size-full bg-gradient-to-b from-black/30 to-black">
    </div>
    <div
      class="absolute bottom-0 h-1/6 w-full bg-gradient-to-b from-black/30 to-black"
    >
    </div>
    <div
      class="absolute h-full w-full"
      style={{
        backdropFilter: "blur(32px)",
        maskImage: "linear-gradient(0deg, black 30%, transparent 70%)",
      }}
    >
    </div>
  </div>
</div>
