---
import { ENV_NAME } from "astro:env/server";
---

{
  !!ENV_NAME && (
    <div class="z-9999 bg-primary pointer-events-none fixed left-0 right-0 top-0 h-[2px] shadow-2xl">
      <span class="bg-primary font-heading text-2xs fixed left-0 top-0 rounded-br-sm px-1.5 py-0.5 font-medium uppercase tracking-widest text-black">
        {ENV_NAME}
      </span>
    </div>
  )
}
