---
const env = import.meta.env.ENV_NAME;
---

{
  !!env && (
    <div class="fixed left-0 right-0 top-0 z-[9999] h-1 bg-primary">
      <span class="fixed left-4 top-0 rounded-b-sm bg-primary p-1 text-[0.6rem] font-bold uppercase text-black">
        {env}
      </span>
    </div>
  )
}
