---
import TiltedCard from "@/components/TiltedCard";
import { buttonVariants } from "@/components/ui/button";
import { GLOBAL_NEWSLETTER_LINK } from "@/content/socials";
import { cn } from "@/lib/utils-client";
---

<div class="relative flex w-full flex-col gap-6 px-4">
  <TiltedCard client:visible className="mx-auto w-full max-w-screen-sm">
    <a
      href={GLOBAL_NEWSLETTER_LINK}
      target="_blank"
      rel="noreferrer"
      class="group flex w-full flex-col items-start gap-4 rounded-lg bg-white/5 p-6 backdrop-blur-md transition hover:bg-white/10 sm:flex-row md:items-center md:px-8 md:py-6"
    >
      <div class="flex w-full flex-1 flex-col max-sm:text-center">
        <h2
          class="text-balance font-heading text-base font-medium uppercase tracking-widest transition group-hover:text-primary"
        >
          Fork it! Newsletter
        </h2>
        <p class="text-balance text-xs tracking-wider opacity-60">
          Get the latest Fork it! udpates in your inbox.
        </p>
      </div>

      <div
        class={cn(
          buttonVariants({ size: "lg", variant: "secondary" }),
          "max-sm:w-full",
        )}
      >
        Join the Newsletter
      </div>
    </a>
  </TiltedCard>
</div>
