---
import HTMLLayout from "@/layouts/HTMLLayout.astro";
import { UpcomingEvents } from "@/components/upcoming-event";
---

<HTMLLayout>
  <h1 class="font-heading">Fork it! Community</h1>
  <div>
    <UpcomingEvents/>
  </div>

</HTMLLayout>
