---
import MainLayout from "@/layouts/MainLayout.astro";

import { getNextEvent } from "@/lib/events";

const nextEvent = await getNextEvent();
---

<MainLayout>
  <div class="flex-1">
    <h1>Upcoming events</h1>
    {nextEvent?.data.title}
  </div>
</MainLayout>
