---
import Layout from "@/layouts/Layout.astro";
import { getEventsCollection } from "@/lib/collections";
import Hero from "./(hompage)/hero.astro";
import { isDateInThePast } from "@/lib/utils";
import SubscribeForm from "./(hompage)/subscribeForm.astro";

const events = await getEventsCollection();
const upcomingEvents = events
  .filter((event) => !isDateInThePast(event.data.date))
  .sort(
    (event1, event2) =>
      (event1.data.date?.valueOf() ?? 0) - (event2.data.date?.valueOf() ?? 0),
  );

const nextEvent = upcomingEvents.length > 0 ? upcomingEvents[0] : null;
---

<Layout>
  <Hero event={nextEvent} />
  <div class="container">
    <!-- Todo : Add the timeline with all the eventCards when it's ready -->
    <SubscribeForm />
  </div>
</Layout>
