---
import MainLayout from "@/layouts/MainLayout.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import { getNextEvent } from "@/lib/events";

const nextEvent = await getNextEvent();
---

<MainLayout>
  {
    !!nextEvent?.data.image?.src && (
      <ImageBackgroundHero
        src={nextEvent.data.image.src}
        alt={nextEvent.data.image.alt}
        className="h-[50vh]"
      />
    )
  }

  <div class="flex-1">
    <h1>Upcoming events</h1>
    <a href={`/events/${nextEvent?.id}`}>{nextEvent?.data.name}</a>
  </div>
</MainLayout>
