---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { getNextEvent, getEventSubPagesCollection } from "@/lib/events";

const nextEvent = await getNextEvent();
const subPages = await getEventSubPagesCollection(nextEvent);

console.log(subPages);
---

<MainLayout>
  {
    !!nextEvent?.data.image?.src && (
      <Image
        src={nextEvent.data.image.src}
        alt={nextEvent.data.image?.alt}
        width={375}
        height={610}
        class="absolute inset-0 -z-10 my-0 h-full min-w-full object-cover object-center"
      />
    )
  }

  <div class="flex-1">
    <h1>Upcoming events</h1>
    <a href={`/events/${nextEvent?.id}`}>{nextEvent?.data.title}</a>
  </div>
</MainLayout>
