---
import RootLayout from "@/layouts/RootLayout.astro";
import { getNextEvent } from "@/lib/events";

const nextEvent = await getNextEvent();
---

<RootLayout>
  <div>
    <h1>Upcoming events</h1>
    {nextEvent?.data.title}
  </div>
</RootLayout>
