---
import { HomeNavigation } from "@/components/home-navigation";
import HTMLLayout from "@/layouts/HTMLLayout.astro";
import { getEventsCollection } from "@/lib/collections";

const events = await getEventsCollection();
---

<HTMLLayout>
  <h1 class="font-heading">Fork it! Community</h1>
  <HomeNavigation />
  <ul>
    {
      events.map((event) => (
        <li>
          <a href={`events/${event.slug}`}>{event.data.name}</a>
        </li>
      ))
    }
  </ul>
</HTMLLayout>
