---
import MainLayout from "@/layouts/MainLayout.astro";
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import { SEO } from "astro-seo";
import { getTalksWithVOD } from "@/lib/events";
import EventVideosCards from "@/components/EventVideosCards/index.astro";
const allTalks = await getTalksWithVOD();
---

<MainLayout>
  <SEO
    slot="seo"
    title="Videos"
    description="Catch up on past Fork It! talks"
  />
  <div class="mx-auto w-full max-w-screen-sm px-4">
    <MainPageTitle
      title="Fork it! Vods"
      subtitle="Watch the community in action"
      blurImage
    />
  </div>
  <div class="mx-auto flex max-w-screen-lg px-4 pb-40">
    <div class="flex flex-col gap-16">
      <EventVideosCards talks={allTalks} />
    </div>
  </div>
</MainLayout>
