---
import { buttonVariants } from "@/components/ui/button";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div
  class="bg-background-blur group relative flex w-full flex-col gap-6 px-4 py-24 text-center"
>
  <div class="flex flex-col gap-2">
    <h2
      class="text-balance font-heading text-2xl font-medium uppercase tracking-widest"
    >
      We need you!
    </h2>
    <p class="text-balance text-base tracking-wide opacity-60">
      Help speakers by giving them feedbacks about their talks
    </p>
  </div>
  <div class="">
    <a href={href} target="_blank" rel="noreferer" class={buttonVariants()}>
      Give talk feedback!
    </a>
  </div>
</div>
