---
import TiltedCard from "@/components/TiltedCard";
import { buttonVariants } from "@/components/ui/button";
import { pastEvent } from "@/lib/utils";
import { cn } from "@/lib/utils-client";

interface Props {
  href: string;
  date: Date;
}

const { href, date } = Astro.props;
---

<div class="relative flex w-full flex-col gap-6 px-6 py-12">
  <TiltedCard client:visible className="mx-auto max-w-screen-md">
    <a
      href={href}
      target="_blank"
      rel="noreferrer"
      class="group flex w-full flex-col items-start gap-6 rounded-lg bg-white/5 p-8 backdrop-blur-md transition hover:bg-white/10 md:flex-row md:items-center md:px-12 md:py-10"
    >
      <div class="flex flex-1 flex-col">
        <h2
          class="text-balance font-heading text-xl font-medium uppercase tracking-widest transition group-hover:text-primary"
        >
          {pastEvent(date) ? "Talk reviews" : "We need you!"}
        </h2>
        <p class="text-balance text-base tracking-wide opacity-60">
          {
            pastEvent(date)
              ? "See feedback shared by the audience"
              : "Help speakers by giving them feedbacks about their talks"
          }
        </p>
      </div>

      <div class={cn(buttonVariants({ size: "lg" }), "max-xs:w-full")}>
        {pastEvent(date) ? "Check Feedback" : "Give Talk Feedback"}
      </div>
    </a>
  </TiltedCard>
</div>
