---
import bgImage from "@/assets/images/news.jpeg";
import JoinTheCommunity from "@/components/JoinTheCommunity/index.astro";
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import NewsArticleCard from "@/components/NewsArticleCard/index.astro";
import NewsShort from "@/components/NewsShort/index.astro";
import SEO from "@/components/SEO/index.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const news = (await getCollection("news"))
  .filter((post) => dayjs().isAfter(post.data.date))
  .sort(
    (post1, post2) =>
      (post2.data.date?.valueOf() ?? 0) - (post1.data.date?.valueOf() ?? 0),
  );
---

<MainLayout>
  <SEO slot="seo" title="Fork It! News" />
  <div class="mx-auto w-full max-w-screen-sm px-4">
    <MainPageTitle
      title="Fork It! News"
      subtitle="Last news about the community"
      imageSrc={bgImage}
    />
  </div>

  <div class="flex flex-1 flex-col">
    <!-- TOP NEWS -->
    <div class="mx-auto w-full max-w-screen-md pb-40">
      <div class="flex flex-col gap-8 px-6">
        {
          news.map((newsItem) => {
            if (newsItem.data.type === "long")
              return <NewsArticleCard newsItem={newsItem} />;
            return <NewsShort newsItem={newsItem} />;
          })
        }
      </div>
    </div>
  </div>

  <div class="py-8 md:py-12">
    <JoinTheCommunity />
  </div>
</MainLayout>
