---
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import bgImage from "@/assets/images/news.jpeg";
---

<MainLayout>
  <div class="mx-auto w-full max-w-screen-sm px-4">
    <MainPageTitle
      title="News"
      subtitle="News about the Fork it! Community"
      imageSrc={bgImage}
    />
  </div>
</MainLayout>
