---
import { Image } from "astro:assets";
import imageExample from "@/assets/images/events.jpeg";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { MdArrowForward } from "react-icons/md";
import { LogoIcon } from "@/components/LogoIcon";

// Debug
const withImage = Math.random() > 0.5;
const withAuthor = Math.random() > 0.5;
---

<article
  class="group relative flex w-full flex-[1.2] flex-col overflow-hidden rounded-lg bg-white/5"
>
  {
    withImage && (
      <div
        class="relative bg-black transition duration-500 group-hover:scale-105"
        style={{
          maskImage: "linear-gradient(180deg, black 50%, transparent 100%)",
        }}
      >
        <div class="absolute inset-0 w-full bg-gradient-to-b from-black/30 to-black" />
        <a href="#">
          <Image
            src={imageExample}
            alt=""
            class="aspect-video w-full object-cover"
          />
        </a>
      </div>
    )
  }
  <div
    class={cn(
      "relative flex-1 flex flex-col gap-4 p-6",
      withImage && "-mt-48 pt-24",
    )}
  >
    <time datetime="2020-03-16" class="-mb-2 text-xs uppercase opacity-60">
      Mar 16, 2020
    </time>
    <h2
      class="line-clamp-3 text-balance font-heading text-xl font-medium tracking-wide transition duration-500 group-hover:text-primary sm:text-2xl"
    >
      <a href="#">
        We’re incredibly proud to announce we have secured $75m in Series B
        <div class="absolute inset-0 z-10"></div>
      </a>
    </h2>
    <p
      class="text-sm/6 opacity-60 transition duration-500 group-hover:opacity-80"
    >
      Libero neque aenean tincidunt nec consequat tempor. Viverra odio id velit
      adipiscing id. Nisi vestibulum orci eget bibendum dictum. Velit viverra
      posuere vulputate volutpat nunc. Nunc netus sit faucibus. Libero neque
      aenean tincidunt nec consequat tempor. Viverra odio id velit adipiscing
      id. Nisi vestibulum orci eget bibendum dictum. Velit viverra posuere
      vulputate volutpat nunc. Nunc netus sit faucibus.
    </p>

    <div class="flex items-center">
      {
        withAuthor ? (
          <a
            href="#author"
            class="group/author relative z-20 flex items-center gap-x-2.5 text-sm font-medium"
          >
            <img
              src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
              class="size-6 flex-none rounded-full bg-black"
            />
            <span class="opacity-60 transition group-hover/author:opacity-100">
              Michael Foster
            </span>
          </a>
        ) : (
          <div class="relative z-20 flex items-center gap-x-2.5 text-sm font-medium">
            <div class="flex size-6 items-center justify-center rounded-full bg-black text-primary">
              <LogoIcon className="size-3" />
            </div>
            <span class="opacity-60">Fork It! Team</span>
          </div>
        )
      }
      <a
        href="#"
        class={cn(
          buttonVariants({ variant: "secondary", size: "sm" }),
          "relative z-20 ml-auto gap-2",
        )}
      >
        Continue Reading
        <MdArrowForward />
      </a>
    </div>
  </div>
</article>
