---
import { cn } from "@/lib/utils";
import type { FC } from "react";

interface Props {
  icon: FC;
  href: string;
  exact?: boolean;
}

const { icon: Icon, href, exact } = Astro.props;
const isActive = exact
  ? href === Astro.url.pathname
  : Astro.url.pathname.startsWith(href);
---

<a
  href={href}
  class={cn(
    "flex items-center gap-2 justify-center p-2 rounded opacity-50 transition hover:bg-black/30 hover:opacity-100",
    isActive && "opacity-100",
  )}
>
  <span class="text-lg"><Icon /></span>
  <span class="text-sm tracking-wide"><slot /></span>
</a>
