---
import MainNavDesktopItem from "./MainNavDesktopItem.astro";
import MainNavDesktopItemMore from "./MainNavDesktopItemMore";
import { getMainMenuDesktopItems } from "@/content/menus";
import { LogoWithPopOver } from "@/components/BrandAssets";
---

<div class="hidden md:block">
  <div class="h-16"></div>
  <div class="fixed left-0 right-0 top-0 z-20 flex h-16 flex-col p-2">
    <div
      class="bg-background-blur mx-auto flex w-full max-w-screen-lg flex-1 items-center justify-between rounded-md pe-1.5 ps-5"
    >
      <LogoWithPopOver client:load />
      <nav class="flex items-center gap-1">
        {
          getMainMenuDesktopItems("primary").map((item) => (
            <MainNavDesktopItem
              icon={item.icon}
              href={item.href}
              exact={item.exact ?? false}
            >
              {item.label}
            </MainNavDesktopItem>
          ))
        }
        <MainNavDesktopItemMore
          client:load
          currentPathname={Astro.url.pathname}
        />
      </nav>
    </div>
  </div>
</div>
