---
import MainNavMobileItem from "./MainNavMobileItem.astro";
import MainNavMobileItemMore from "./MainNavMobileItemMore";
import { getMainMenuMobileItems } from "@/content/menus";
---

<div class="md:hidden">
  <div class="h-nav-safe"></div>
  {/* bottom-[-2px] to fix little gap on some devices  */}
  <nav
    data-id="main-nav-mobile"
    class="bg-background-blur h-nav-safe fixed bottom-[-2px] left-0 right-0 z-20 flex items-start"
  >
    {
      getMainMenuMobileItems("primary").map((item) => (
        <MainNavMobileItem
          icon={item.icon}
          href={item.href}
          exact={item.exact ?? false}
        >
          {item.label}
        </MainNavMobileItem>
      ))
    }
    <MainNavMobileItemMore client:load currentPathname={Astro.url.pathname} />
  </nav>
</div>
