---
import { buttonVariants } from "@/components/ui/button";
import MeetupLayout from "@/layouts/MeetupLayout.astro";
import { getMeetupsCollection } from "@/lib/events";
import { LuArrowLeft } from "react-icons/lu";

export async function getStaticPaths() {
  const meetups = await getMeetupsCollection();

  return Promise.all(
    meetups.map(async (meetup) => ({
      params: { id: meetup.id },
      props: {
        meetup,
      },
    })),
  );
}

const { meetup } = Astro.props;
---

<MeetupLayout meetup={meetup}>
  <div class="mx-auto w-full max-w-screen-lg p-4 md:p-8">
    <a
      href={`/events`}
      class={buttonVariants({ variant: "ghost", size: "xs" })}
    >
      <LuArrowLeft className="mr-2" /> Back
    </a>
    <div
      class="prose prose-sm prose-invert md:prose-base prose-headings:scroll-m-10 prose-headings:font-heading prose-h1:mt-6 prose-h3:flex prose-h3:items-center prose-h3:gap-2 prose-h3:font-bold prose-h3:text-white"
    >
      <h1>{meetup.data.name}</h1>
    </div>
  </div>
</MeetupLayout>
