---
import { Logo } from "@/components/Logo";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import type { ReactNode } from "react";
import defaultImage from "@/assets/images/events.jpeg";

interface Props {
  title: ReactNode;
  subtitle?: ReactNode;
  imageSrc?: ImageMetadata;
}

const { title, subtitle, imageSrc } = Astro.props;
---

<ImageBackgroundHero
  src={imageSrc ?? defaultImage}
  alt=""
  className="h-[80vh] opacity-80"
/>

<div
  class="flex w-full flex-col items-center gap-12 pb-12 pt-20 md:min-h-[35svh] md:justify-center"
>
  <a href="/" class="md:hidden"><Logo className="w-48" /></a>
  <div class="flex flex-col items-center gap-2">
    <h1
      class="font-heading text-balance text-center text-3xl font-medium uppercase tracking-wider max-md:flex-1 md:text-5xl"
    >
      {title}
    </h1>
    {
      !!subtitle && (
        <h2 class="text-balance text-center text-xs tracking-widest opacity-60 md:text-sm">
          {subtitle}
        </h2>
      )
    }
  </div>
</div>
