---
import { Image } from "astro:assets";
import defaultPerson from "@/assets/images/people-placeholder.jpeg";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";
import type { CollectionEntry } from "astro:content";
import { MdArrowOutward } from "react-icons/md";

interface Props {
  organizers: CollectionEntry<"people">[];
  title?: string;
}

const { organizers, title = "Your local organizers" } = Astro.props;

const { countryId } = Astro.params;
---

{
  organizers.length > 0 && (
    <div class="flex flex-col gap-3 md:max-w-xs">
      <a
        href={lunalink(
          ROUTES["events"].locations[":countryId"]["organizers"].__path,
          {
            countryId: countryId ?? "",
          },
        )}
      >
        <h3 class="flex items-center gap-1 text-xs font-medium uppercase tracking-widest opacity-60 hover:underline">
          {title}
          <MdArrowOutward />
        </h3>
      </a>
      <div class="flex flex-wrap gap-2">
        {organizers.map((organizer) => (
          <a
            href={lunalink(ROUTES.people[":id"].__path, {
              id: organizer.id,
            })}
            class="flex items-center gap-2 rounded-full bg-white/10 px-3 py-2 backdrop-blur-sm transition-all hover:bg-white/20"
          >
            <Image
              class="h-8 w-8 rounded-full object-cover"
              src={organizer.data.avatar ?? defaultPerson}
              alt={organizer.data.name}
              width={32}
              height={32}
            />
            <span class="text-sm font-medium">{organizer.data.name}</span>
          </a>
        ))}
      </div>
    </div>
  )
}
