---
import RootLayout from "@/layouts/RootLayout.astro";
// TODO: Placeholder paths; replace these with dynamic paths once we have content
export async function getStaticPaths() {
  return [
    { params: { slug: "blog-1" } },
    { params: { slug: "blog-2" } },
    { params: { slug: "blog-3" } },
  ];
}
const { slug } = Astro.params;
---

<RootLayout>
  <h2>{slug}</h2>
</RootLayout>
