---
import { Button } from "@/oldcomponents/ui/button";
import HTMLLayout from "@/layouts/HTMLLayout.astro";
import { ArrowLeft } from "lucide-react";

type Props = {
  name: string;
};

const { name } = Astro.props;
---

<HTMLLayout>
  <main class="m-auto max-w-screen-md p-8">
    <Button asChild variant="link">
      <a href="/branding" class="flex flex-row items-center gap-2"
        ><ArrowLeft className="h-4 w-4" /> Branding</a
      >
    </Button>

    <h2 class="pt-8 text-2xl">{name}</h2>

    <slot />
  </main>
</HTMLLayout>
