---
import { ExploreTheCommunity } from "@/components/ExploreTheCommunity";
import RootLayout from "@/layouts/RootLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  title?: string;
  description?: string;
  event: CollectionEntry<"events">;
}

const { title, description, event } = Astro.props;
---

<RootLayout title?={title} description?={description}>
  <slot name="seo" slot="seo" />
  <div class="p-2">
    <ExploreTheCommunity event={event} logoUrl={`/events/${event.id}`} />
  </div>
  <slot />
</RootLayout>
