---
import ExploreTheCommunity from "@/components/ExploreTheCommunity/index.astro";
import RootLayout from "@/layouts/RootLayout.astro";

import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import Footer from "@/components/Footer/index.astro";
import type { ForKidsEventComputed } from "@/lib/forKidsEvents";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";

interface Props {
  forKidsEvent: ForKidsEventComputed;
}

const { forKidsEvent } = Astro.props;
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />
  {
    !!forKidsEvent.data.image?.media && (
      <ImageBackgroundHero
        src={forKidsEvent.data.image.media}
        alt={forKidsEvent.data.image.alt}
        blur
      />
    )
  }
  <div class="p-2">
    <ExploreTheCommunity
      eventCity={forKidsEvent.data._computed.city?.data.name ?? ""}
      eventCountry={forKidsEvent.data._computed.country?.data.name ?? ""}
      eventDate={forKidsEvent.data.date}
      logoUrl={lunalink(ROUTES.fr.events["for-kids"].__path, {})}
      pageUrl={new URL(Astro.url.pathname, Astro.site).toString()}
      type="for-kids"
    />
  </div>
  <div class="flex flex-1 flex-col">
    <slot />
  </div>
  <Footer />
</RootLayout>
