---
import MainNavDesktop from "@/components/MainNavDesktop/MainNavDesktop.astro";
import MainNavMobile from "@/components/MainNavMobile/MainNavMobile.astro";
import RootLayout from "@/layouts/RootLayout.astro";

import Footer from "@/components/Footer/index.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<RootLayout title?={title} description?={description}>
  <slot name="seo" slot="seo" />
  <MainNavDesktop />
  <div class="flex flex-1 flex-col pb-40"><slot /></div>
  <Footer />
  <MainNavMobile />
</RootLayout>
