---
import MainNavDesktop from "@/components/MainNavDesktop/MainNavDesktop.astro";
import MainNavMobile from "@/components/MainNavMobile/MainNavMobile.astro";
import RootLayout from "@/layouts/RootLayout.astro";

import Footer from "@/components/Footer/index.astro";
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />
  <MainNavDesktop />
  <div class="flex flex-1 flex-col"><slot /></div>
  <Footer />
  <MainNavMobile />
</RootLayout>
