---
import { ExploreTheCommunity } from "@/components/ExploreTheCommunity";
import RootLayout from "@/layouts/RootLayout.astro";
import type { CollectionEntry } from "astro:content";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";

interface Props {
  title?: string;
  description?: string;
  meetup: CollectionEntry<"events">;
}

const { title, description, meetup } = Astro.props;
---

<RootLayout title?={title} description?={description}>
  <slot name="seo" slot="seo" />
  {
    !!meetup?.data.image?.src && (
      <ImageBackgroundHero
        src={meetup.data.image.src}
        alt={meetup.data.image.alt}
      />
    )
  }
  <div class="p-2">
    <ExploreTheCommunity logoUrl="/" />
  </div>
  <slot />
</RootLayout>
