---
import Analytics from "@vercel/analytics/astro";
import "@fontsource/tomorrow/400.css";
import "@fontsource/tomorrow/500.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/inter";
import "@/styles/globals.css";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, interactive-widget=resizes-content"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#171717" />
    <slot name="seo" />
    <slot name="ld+json" />
    <Analytics />
  </head>
  <body
    class="flex min-h-svh flex-col overflow-x-hidden overflow-y-scroll bg-black text-foreground"
  >
    <slot />
  </body>
</html>
