---
import "@fontsource/tomorrow";
import "@fontsource-variable/inter";
import "@/styles/globals.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, interactive-widget=resizes-content"
    />
    <title>{title || "Fork it! Community"}</title>
    <meta
      name="description"
      content={description ||
        "Fork it! Community’s mission is to share computer science knowledge through worldwide events."}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url} />
    <meta name="generator" content={Astro.generator} />
    <slot name="seo" />
  </head>
  <body
    class="flex min-h-svh flex-col overflow-x-hidden overflow-y-scroll bg-black text-foreground"
  >
    <slot />
  </body>
</html>
