---
import MainLayout from "@/layouts/MainLayout.astro";

import { getUpcomingEvents } from "@/lib/events";

const upcoming = await getUpcomingEvents();
---

<MainLayout>
  <h1>Upcoming Events</h1>
  <div>
    {
      upcoming.map((event) => (
        <a href={`/events/${event.id}`}>
          <h2>{event.data.name}</h2>
          <p>{event.data.date}</p>
          <p>{event.data.location?.name}</p>
        </a>
      ))
    }
  </div>
</MainLayout>
