---
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import bgImage from "@/assets/images/events.jpeg";
import { getPastEvents, getUpcomingEvents } from "@/lib/events";
import EventCard from "@/components/EventCard/index.astro";
import SEO from "@/components/SEO/index.astro";

const upcomingEvents = await getUpcomingEvents();
const pastEvents = await getPastEvents();
---

<MainLayout>
  <SEO
    slot="seo"
    title="Events"
    description="All the Fork it! events, from meetups to full day events, come take a look at what is happening near you."
  />
  <div class="mx-auto w-full max-w-screen-sm px-4 pb-40">
    <MainPageTitle
      title="Events"
      subtitle="All the Fork it! tech events"
      imageSrc={bgImage}
    />

    <div class="flex flex-col gap-12">
      {
        !!upcomingEvents.length && (
          <div class="flex flex-col gap-2">
            <h2 class="font-heading text-sm font-medium uppercase tracking-widest opacity-60">
              Upcoming Events
            </h2>
            <div class="flex flex-col gap-3">
              {upcomingEvents.map((event) => (
                <EventCard event={event} />
              ))}
            </div>
          </div>
        )
      }

      {
        !!pastEvents.length && (
          <div class="flex flex-col gap-2">
            <h2 class="font-heading text-sm font-medium uppercase tracking-widest opacity-60">
              Past Events
            </h2>
            <div class="flex flex-col gap-3">
              {pastEvents.map((event) => (
                <EventCard event={event} />
              ))}
            </div>
          </div>
        )
      }
    </div>
  </div>
</MainLayout>
