---
import EventLayout from "@/layouts/EventLayout.astro";
import { getEventsCollection } from "@/lib/events";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return Promise.all(
    events.map(async (event) => ({
      params: { id: event.id },
      props: {
        event,
      },
    })),
  );
}

const { event } = Astro.props;
---

<EventLayout>
  {
    !!event?.data.image?.src && (
      <Image
        src={event.data.image.src}
        alt={event.data.image?.alt}
        width={375}
        height={610}
        class="absolute inset-0 -z-10 my-0 h-full min-w-full object-cover object-center"
      />
    )
  }
  <div>Event page {event.data.name}</div>
</EventLayout>
