---
import { Map } from "@/components/map-location";
import type { Meetup } from "@/content/meetups/meetups";

interface Props {
  meetup: Meetup;
}
const { meetup } = Astro.props;
---

<div>
  <h2>Location</h2>
  <hr class="mb-4 mt-2 border border-neutral-800" />
  <Map mapUri={meetup.mapUri} />
</div>
