---
import { getSocialsItems } from "@/content/socials";
---

<div class="mx-auto w-full max-w-screen-lg px-4">
  <div
    class="flex flex-col items-center justify-center gap-x-6 gap-y-2 lg:flex-row"
  >
    <h2
      class="font-heading text-sm font-medium uppercase tracking-widest opacity-60"
    >
      Join the community
    </h2>
    <div class="flex flex-wrap items-center justify-center gap-x-3 gap-y-0">
      {
        getSocialsItems("primary").map(({ icon: Icon, ...social }) => (
          <a
            href={social.href}
            class="flex items-center gap-2 p-2 opacity-60 transition hover:text-white hover:opacity-100"
          >
            <span class="text-lg">
              <Icon />
            </span>
            <span class="text-sm uppercase tracking-wide">{social.label}</span>
          </a>
        ))
      }
    </div>
  </div>
</div>
