---
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import bgImage from "@/assets/images/podcasts.jpeg";
import SEO from "@/components/SEO/index.astro";
import PodcastEpisodeCard from "@/components/PodcastEpisodeCard/index.astro";
import { getPodcastsEpisodesCollection } from "@/lib/podcasts";
import TiltedCard from "@/components/TiltedCard";

const episodes = (await getPodcastsEpisodesCollection()).toReversed();
---

<MainLayout>
  <SEO
    slot="seo"
    title="Podcasts"
    description="Listen to the Fork it! Community"
  />
  <div class="mx-auto w-full max-w-screen-sm px-4 pb-40">
    <MainPageTitle
      title="Podcasts"
      subtitle="Listen to the community"
      imageSrc={bgImage}
    />
    <article class="flex flex-col gap-2">
      <h2
        class="font-heading text-sm font-medium uppercase tracking-widest opacity-60"
      >
        Latest episodes
      </h2>
      <div class="flex flex-col gap-3">
        {
          episodes.map((episode) => (
            <TiltedCard client:visible>
              <PodcastEpisodeCard episode={episode} />
            </TiltedCard>
          ))
        }
      </div>
    </article>
  </div>
</MainLayout>
